---
// Thanks to Kevin Lee Drum: https://kld.dev/building-table-of-contents/

export type Heading = {
  depth: number;
  slug: string;
  text: string;
  subheadings?: Heading[];
};

export interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings && heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
